{{#if formShowing}}

<h1>New Post</h1>
<form>
  <div class="form-group">
    <label for="user">Author</label>
    {{input value=user id="user" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    {{input value=title id="title" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    {{textarea value=body id="body" rows="5" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="image">Image URL</label>
    {{input value=image id="image" class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>

{{else}}
  <button class ="btn btn-primary"{{action 'formShow'}}>Create Post</button>
{{/if}}  
