<div class="post-header">
  {{model.title}}
</div>
<br>
<div class="post-user">
  Author: {{model.user}}
</div>
<hr>
<div class="post-body">
  {{model.body}}
</div>
<br>

{{edit-post destroyPost="destroyPost" model=model update="update"}}

<h3>Comments</h3>
<ul>
{{#each model.comments as |comment|}}
  {{comments-tile comment=comment destroyComment="destroyComment"}}
{{/each}}
</ul>
{{comment-form model=model saveComment="saveComment"}}
